html, body{
	width: 100%;
	height: 100%;
	position: relative;
	background: none;
	animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
/* +-----+-----+-----+-----+ */
#loader-bg{
	display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 1.0);
  z-index: 4;
}
#loder{
	display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: rgba(255, 255, 255, 1.0);
  z-index: 5;
}
#circle_bl{
	width: 400px;
	height: 400px;
	background-color: rgba(0, 0, 0, 1.0);
	border-radius: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: transform 1s linear 0s 1 alternate forwards running;
}
#circle_wh{
	width: 380px;
	height: 380px;
	background-color: rgba(255, 255, 255, 1.0);
	border-radius: 190px;
	}
@keyframes transform {
	0% {
		transform: scale(1.0);
		opacity: 0;
	}
	70% {
		transform: scale(0.0);
		opacity: 1;
	}
	100% {
		transform: scale(2.0);
		opacity: 0;
	}
}
/* +-----+-----+-----+-----+ */
header{
	width: 100%;
	height: 9vh;
	background-color: rgba(255, 255, 255, 0.6);
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 3;
}
header h1{
	font-family: "museo-sans-display", sans-serif;
	font-size: 3vw;
	padding: 3vw;
}
#top{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#top #name{
	background-image: url("../jpg/icon.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#top #name{
	width: 70vw;
	height: 70vw;
	-webkit-border-radius: 35vw;
	-moz-border-radius: 35vw;
	border-radius: 35vw;
}
#top #name h1{
	font-family: "museo-sans-display", sans-serif;
	font-size: 48px;
	color: rgba(255, 255, 255, 1.0);
	padding: 0.5em 1.0em 0em 1.0em;
}
/* +-----+-----+-----+-----+ */
#profile_wrap{
	width: 100%;
	height: 100vh;
	background-image: url("../svg/FH000003.svg");
	/*background-image: url("../jpg/FH000003.JPG");*/
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#profile_wrap #profile{
	width: 90vw;
	background-color: rgba(255, 255, 255, 0.6);
}
#profile_wrap #profile h1{
	font-family: "museo-sans-display", sans-serif;
	font-size: 10vw;
	padding: 5vw 0vw 5vw 5vw;
}
#profile_wrap #profile p{
	font-size: 3vw;
	padding: 0 5vw 5vw 5vw;
	line-height: 1.5em;
	color: rgba(0, 0, 0, 0.8);
}
/* +-----+-----+-----+-----+ */
#works_wrap{
	width: 100%;
	background-image: url("../svg/FH000007.svg");
	/*background-image: url("../jpg/FH000007.JPG");*/
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#works_wrap{
	height: 100%;
}
#ul_wrap{
	width: 80vw;

}
#ul_wrap ul{
	overflow: hidden;
	margin-top: 6vh;
}
#ul_wrap li{
	width: 80vw;
	height: 38vh;
	margin-bottom: 6vh;
}
#ul_wrap #works{
	width: 80vw;
	height: 9vh;
	background: rgba(255, 255, 255, 0.3);
	padding: 3vh 0 0 0;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#ul_wrap #works h1{
	font-family: "museo-sans-display", sans-serif;
	font-size: 10vw;
}
#music,
#photo,
#web,
#etc {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#music{
	background-image: url(../svg/music_wh.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
#photo{
	background-image: url(../svg/photo_wh.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
#web{
	background-image: url(../svg/web_wh.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
#etc{
	background: rgba(255, 255, 255, 0.3);
}
#music img,
#photo img,
#web img,
#etc img {
	display: none;
}
#music figcaption,
#photo figcaption,
#web figcaption,
#etc figcaption {
}
#music h2,
#photo h2,
#web h2,
#etc h2 {
	font-family: "museo-sans-display", sans-serif;
	font-size: 10vw;
	color: rgba(0, 0, 0, 0.9);
}
#music p,
#photo p,
#web p,
#etc p {
  font-size: 3vw;
	color: rgba(0, 0, 0, 0.6);
}
/* +-----+-----+-----+-----+ */
#buildingNow{
	width: 100%;
	height: 100vh;
	background-image: url("../svg/FH000008.svg");
	/*background-image: url("../jpg/FH000008.JPG");*/
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#buildingNow p{
	font-family: "museo-sans-display", sans-serif;
	font-size: 10vw;
	color: rgba(255, 255, 255, 1.0);
	padding: 0.5em 1.0em 0em 1.0em;
}
/*footer{
	width: 100%;
	height: 10vh;
	background-image: url("../jpg/FH000008.JPG");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer h1{
	font-family: "museo-sans-display", sans-serif;
	text-align: center;
}*/
